
user  nginx;
worker_processes  4;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  1024;
    use epoll;
}


http {
    charset utf-8;

    # Tornado servers
    upstream frontends {
        server {{ .Env.UPDATE_SERVER_ADDRESS }}:{{ .Env.UPDATE_SERVER_PORT1 }};
        server {{ .Env.UPDATE_SERVER_ADDRESS }}:{{ .Env.UPDATE_SERVER_PORT2 }};
        server {{ .Env.UPDATE_SERVER_ADDRESS }}:{{ .Env.UPDATE_SERVER_PORT3 }};
        server {{ .Env.UPDATE_SERVER_ADDRESS }}:{{ .Env.UPDATE_SERVER_PORT4 }};
    }

    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    tcp_nopush on;
    tcp_nodelay on;

    keepalive_timeout  65;
    proxy_read_timeout 200;
    #gzip  on;

    proxy_next_upstream error;

    server {
        listen {{ .Env.NGINX_PORT }};

        location /download {
            alias /packages;
            default_type application/vnd.android.package-archive;
            if ($query_string) {
                expires max;
            }
        }
        location ~ ^/(.*)/changelog.html$ {
            alias /packages/$1/changelog.html;
            default_type text/html;
        }
        location / {
            proxy_pass_header Server;
            proxy_set_header Host $http_host;
            proxy_redirect off;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Scheme $scheme;
            proxy_pass $scheme://frontends;
        }
    }
}
